* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;

}

.header {
  display: flex;
  height: 69px;
  border-bottom: 1px white solid;
  position: fixed;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background-color: black;

}

.logoimg {

padding-left: 10px;
}

.headerone {
  display: flex;
  text-decoration: underline;
  width: 400px;
  justify-content: space-around;

}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 69px;
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.ourm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

h4.handpicked {
  padding-top: 20px
}

.teamonth {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.tmintro {



}

.teasamples{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.teasample {


}

.teasample img {
  height: 200px;
  width: 300px;
}
