body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  flex-direction: column;
}

.header {
  display: flex;
  height: auto;
  border-bottom: 1px white solid;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 2;
  background-color: black;

}

.headerone {
  display: flex;
  text-decoration: underline;
  width: 400px;
  justify-content: space-around;
  margin-right: 10px;


}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 69px;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 700px
}

.ourm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  background-color: black;
  width: 1200px
}
